.appHeader {
  width: 100%;
  padding: 0rem;
  display: flex;
  height: 36px;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  position: relative;
  background-color: var(--secondary-color);
  justify-content: space-between;
}
.mainHeader {
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  padding: 0rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  & h6 {
    color: var(--border-color);
    margin: 0;
  }
}
.controlHeader {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.spacer {
  flex: 1 1 auto;
}
.windowControlButton {
  border-radius: 0;
  padding: 0.4rem !important;
  border: none !important;
  background: var(--secondary-color);
  transition: 0.3s ease-in-out;
  & i {
    background-color: transparent;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    scale: 1.2;
  }
}
