.layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}
.myNavbar {
  padding: 0.5rem 1rem !important;
  width: 100vw;
  & .navbar-brand span {
    color: #fff;
  }
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}
